#container{
    display: flex;
    justify-content: space-evenly;
    margin: 5vh;
}

#todo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#todo-board{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.todo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: cursive;
    background-color: aqua;
    border-radius: 15px;
    border: none;
    width: 200px;
    height: 50px;
}